/* Modal background */
#imageModal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

#imageModal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255,255,255,0.5);
}

#imageModal span {
  position: absolute;
  top: 20px; right: 30px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}
/* Bungkus preview biar center */
.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

/* Preview kecil */
#previewImage {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  object-fit: cover;
  display: none; /* default hidden */
}
button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
button:enabled:hover {
  opacity: 0.8;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
