/* Animasi hover khusus semua tombol */
button {
  transition: transform 0.2s, opacity 0.2s !important;
}

/* Animasi hanya saat hover */
button:hover {
  transform: scale(1.05) !important;
  opacity: 0.9 !important;
}
