

main {
  flex: 1;                  /* isi area kosong */
  display: flex;
  justify-content: center;
  align-items: center;      /* login form tetap ke tengah */
  padding: 40px 20px;
}

  body {
      font-family: Arial;
      background:#f0f4f7;
      display: flex;
      flex-direction: column; /* kolom supaya footer di bawah */
      min-height: 100vh;
    }
footer {
  background-color: #f1f3f6;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  color: #777;
}
/* Header dasar */
header {
  background: #4a90e2;
  padding: 10px 20px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* supaya bisa pindah ke baris baru di HP */
}

.header-with-img {
  display: flex;
  align-items: center;
  gap: 10px;
}
  .header-logo {
    width: 90px;          /* sesuaikan ukuran gambar */
    height: auto;
    }
/* Media query untuk HP */
@media (max-width: 480px) {
  header .container {
    flex-direction: column; /* header vertikal */
    align-items: flex-start; /* kiri */
    gap: 10px;
  }

  nav {
    flex-direction: column; /* menu vertikal */
    gap: 8px;
    width: 100%;
  }

  nav a, nav button {
    width: 100%; /* full lebar di HP */
    text-align: left;
  }

  
}
